a {
  text-decoration: none;
  color: red;
}
::-webkit-input-placeholder {
  color: yellow;
}
:-ms-input-placeholder {
  color: yellow;
}
::-ms-input-placeholder {
  color: yellow;
}
::placeholder {
  color: yellow;
}
